body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

#logo {
  margin-right: 10px;
  filter: brightness(165%);
  width: 200px;
  height: 36px;
}

#jumbo-text {
  display: none;
}

.jumbotron {
  width: 100%;
  margin-top: 0px;
  background-image: url("http://www.tokkoro.com/picsup/2828400-simple-background-robot-digital-art-artificial-intelligence-technology-hi-tech___abstract-wallpapers.jpg");
  background-size: cover;
  min-height: 350px;
}

.img-responsive {
  width: 100%;
}

.fa-2x {
  margin-right: 40px;
}
