body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

#logo {
  margin-right: 10px;
  filter: brightness(125%);
}

.jumbotron {
  width: 100%;
  margin-top: 0px;
  background-image: url("../img/engineering.png");
  background-size: cover;
  min-height: 270px;
}

.img-responsive {
  width: 100%;
}
